.goblin {
    position: absolute;
    width: 80px; 
    height: 80px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .hidden {
    display: none;
} */

.goblin[hidden] {
  display: none; /* Скрываем элементы с атрибутом hidden */
}
